@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff") format("woff"), url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff") format("woff"), url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color: #FFFFFF;
    color: #000000;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 1200px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

html {
    height: 100%;
    box-sizing: border-box;
    background-color: #E5E5E5;
}

.img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    overflow: hidden;
    white-space: nowrap;
}

.page-header {
    width: 1060px;
    margin: 0 auto;
}

.navigation {
    display: flex;
}

.nav-logo {
    margin-right: 30px;
}

.navigation-list {
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    flex-wrap: wrap;
}

.navigation-item {
    padding-top: 20px;
    margin-right: 34px;
}

.navigation-item:last-child {
    margin-right: 0;
}

.navigation-link {
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    padding-bottom: 20px;
    display: block;
}

.button {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    display: inline-block;
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
    background: #83B3D3;
}

.navigation-search {
    display: flex;
    margin-left: auto;
}

.navigation-link-search,
.navigation-link-favorites {
    min-width: 42px;
    min-height: 66px;
}

.navigation-button {
    background: #756257;
    border-radius: 4px;
}

.main-container {
    flex-grow: 1;
}

.welcome-img {
    background-size: cover;
    background-image: url("../images/index-background.jpg");
}

.welcome-logo {
    padding-top: 51px;
    padding-bottom: 82px;
    display: block;
    margin: 0 auto;
}

.welcome-descript {
    text-align: center;
    width: 720px;
    margin: 0 auto;
    padding-top: 63px;
}

.welcome-descript h1 {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 23px;
    padding: 0;
}

.welcome-descript p {
    font-size: 22px;
    line-height: 36px;
    color: #333333;
}

.availability-list {
    display: flex;
    flex-wrap: wrap;
}

.availability-img img {
    display: block;
    width: 100%;
    height: 100%;
}

.availability-title {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.availability-number {
    margin-bottom: 26px;
}

.availability-item {
    text-align: center;
}

.availability-item-inner {
    display: flex;
    width: 100%;
}

.availability-round {
    flex-direction: row-reverse;
}

.availability-content {
    width: 400px;
    padding: 98px 75px 77px 75px;
    box-sizing: border-box;
}

.availability-content-dark {
    background-color: #83B3D3;
    color: #FFFFFF;
}

.availability-content-cold {
    background-color: rgba(131, 179, 211, 0.12);
}

.availability-content-coldlight {
    background-color: rgba(131, 179, 211, 0.2);
}

.availability-description {
    color: #333333;
    margin: 0 auto;
}

.availability-description-light {
    color: #FFFFFF;
}

.search {
    text-align: center;
    width: 720px;
    margin: 0 auto;
    padding-top: 91px;
    padding-bottom: 90px;
}

.search-title {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 15px;
}

.search-description {
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    margin-bottom: 71px;

}

.search a {
    font-weight: bold;
    font-size: 20px;
    line-height: 36px;
}

.button-search-hotel {
    width: 575px;
    background: #756257;
    border-radius: 10px;
    padding: 15px 0;
}

.distribution {
    text-align: center;
    color: #FFFFFF;
    background-image: url("../images/background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding-top: 90px;
    padding-bottom: 93px;
}

.distribution-title {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    width: 720px;
    margin: 0 auto;
    padding-bottom: 15px;
}

.distribution-description {
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    width: 720px;
    margin: 0 auto;
    padding-bottom: 26px;
}

.distribution-description-catalog {
    color: #333333;
}

.distribution-form {
    width: 800px;
    margin: 0 auto;
}

.page-footer {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 30px;
    align-items: center;
}

.footer-social {
    display: flex;
    justify-content: space-between;
    margin-right: 61px;
}

.footer-social-item {
    margin-right: 30px;
    flex-wrap: wrap;
}

.footer-social-item:nth-child(3n) {
    margin-right: 0;
}

.footer-phone {
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.htmlacademy-link {
    display: block;
}

/*catalog*/

.main-inner {
    margin: 0;
    padding: 0;
}

.filter-wrapper {
    background-image: url("../images/catalog-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #756257;
    margin-top: 0;
    padding: 35px 72px 83px 71px;
}

.inner-header-title {
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.breadcrumbs {
    display: flex;
    color: #FFFFFF;
    margin-bottom: 45px;
}

.breadcrumbs-link-home {
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    margin-right: 26px;
}

.catalog-filter-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
}

.catalog-filter {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.catalog-filter-button {
    display: flex;
    flex-direction: column;
}

.price-controls {
    display: flex;
}

.check {
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}

.sorting {
    display: flex;
    margin: 0 auto;
    margin-top: 44px;
    margin-bottom: 53px;
    height: 48px;
}

.catalog-wrapper {
    padding-left: 72px;
    padding-right: 72px;
}

.sorting h2 {
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
    color: #000000;
    width: 338px;
    margin-right: 191px;
    margin-top: 0;
}

.select-control {
    width: 287px;

}

.sorting-view {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sorting-view-icon {
    width: 48px;
    height: 48px;
    margin-right: 8px;

}

.sorting-view-icon:last-child {
    margin-right: 0;
}

.hotel-cards-block {
    margin: 0 auto;
}

.hotel-list {
    display: flex;
    flex-wrap: wrap;
}

.hotel-card {
    width: 339px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

.hotel-card-title {
    font-size: 24px;
    line-height: 31px;
    color: #000000;
}

.hotel-card-discription {
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}

.hotel-card-choice {
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;

}

.hotel-card-choice {
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
}

.hotel-card-button-more {
    background-color: #756257;
}

.hotel-rating {
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #333333;
    background: #F2F2F2;
}

.load-more {
    background: #83B3D3;
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    width: 620px;
    margin: 0 auto;
    padding: 17px 0;
    margin-top: 64px;
    margin-bottom: 60px;
}

.load-more a {
    color: #FFFFFF;
    text-decoration: none;
}

.pagination {
  display: flex;
  margin: 0 auto;
  height: 55px;
}

.pagination-list {
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    display: flex;
}

.pagination-item {
    width: 55px;
    height: 55px;
    margin-right: 8px;
}

.pagination-item:last-child {
    margin-right: 0;
}

.pagination-amount {
    display: flex;
    margin-left: auto;
}

.pagination-amount h3 {
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}

.distribution-catalog {
    background-image: none;
    color: #000000;
}
